@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yuyu+Short&display=swap');

body {
    color: #100409;
    font-family: "Outfit";
    background-size: cover;
    background-attachment: fixed;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


header img {
    width: 500px;
    height: auto;
}


nav a:hover {
    color: #ffffff;
    background-color: #000000;
}

footer {
    padding: 20px 0;
    background-color:#ffffff;
    text-align: center;
}

div {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

 nav a {


height: auto;
font-size: 16px;
padding: 20px;
background-color: #000000;
margin: 40px;
border-radius: 15px;
color:#ffffff;
text-decoration: none;
font-weight: bold;
 }

.redes {
    display: block;
    text-align: center;
}
