@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yuyu+Short&display=swap');

body {
    color: #100409;
    font-family: "Montserrat";
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    background-color: #ffffff;
    text-align: center;
}

header img {
    width: 500px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #f5f1f1;
    background-color: #000000;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 15px;
    margin: 0 4px;
    border-radius: 15px;

section div {

display: flex;
background-color: rgb(209, 209, 209);
padding: 20px;
margin: 20px;
border-radius: 10px;
font-size: 20px;
/*tem que arrumar o negocio do titulo da faixa e da imagem, quero que fiquem brancas e os golpes cinza.*/
}

img {
    width: 95px;
    height:auto;
    
}

article {

background-color: #ffffff;
padding: 20px;
margin: 10px;
border-radius: 10px;

}

.a{

background-color: #ffffff;
padding:  20px;
margin: 10px;
border-radius: 10px;

}




footer img {

width: 35px;
height: auto;


}

footer {

text-align: center;

}

